<a href="https://colab.research.google.com/github/SparshaAbhinethri/Basic_python_programs/blob/master/BasicPracticePython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = int(input())

2

Square root

In [ ]:
import math
print(round(math.sqrt(2),2))

1.41

In [ ]:
b = int(input())

3

Solve Quadratic Equation

In [ ]:
a = int(input())
b = int(input())
c = int(input())
d = int(b*b) - 4*a*c
e = d**0.5
sol1 = (-b+e)/2*a
sol2 = (-b-e)/2*a
print(sol1,sol2)

2
3
3
(-2.9999999999999996+3.872983346207417j) (-3.0000000000000004-3.872983346207417j)

In [ ]:
a = input()
b = input()
c= a
a = b
b =c
print(a,b)

2
3
3 2

Swap two variables

In [ ]:
a = 2
b = 3
c = 4
a,b,c = b,c,a
print(a,b,c)

3 4 2

In [ ]:
import random
n = 10
print(random.randint(0,n))

2

Kilometers to miles

In [ ]:
km = float(input())
p = 0.621371
m = n * p
print(km,m)

3.3
3.3 2.0505242999999997

Leap year

In [ ]:
n = int(input())
if n%4==0:
  if n%100==0:
    if n%400==0:
      print("{0} is a leap year".format(n))
    else:
      print("{0} is not a leap year".format(n))
  else:
    print("{0} is a leap year".format(n))
else:
  print("{0} is not a leap year".format(n))

1995
1995 is not a leap year

Prime Numbers

In [ ]:
q = int(input())
lst = []
for n in range(2,q):
    for i in range(2,n-1):
        if(n%i==0):
           break
    else:
      lst.append(n)
print(lst)

15
[2, 3, 5, 7, 11, 13]

Factorial of a number

In [ ]:
n = int(input())
product = 1
while(n>1):
  product = product * (n)
  n = n - 1
print(product)

5
120

Fibonacci series

In [ ]:
n = int(input())
sum = 0
lst=[0,1,1,2]
for i in range(2,n):
  sum = lst[-1] + lst[-2]
  lst.append(sum)
print(lst)

8
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Armstrong numbers

In [ ]:
t = int(input())
lst = []
for i in range(1,t):
   j = i
   sum =0
   while(j>0):
      r = int(j % 10)
      sum = sum + r**3
      j = j/10
   if i==sum:
      lst.append(i)
print(lst)

1000
[1, 153, 370, 371, 407]

Sum of 2 numbers

In [ ]:
a = int(input())
b = int(input())
sum = int(a+b)
print("Sum of 2 numbers is :{0} ".format(sum))

3
4
Sum of 2 numbers is :7

Decimal to Binary, Octal, Hexadecimal

In [ ]:
dec = int(input())
print(bin(dec))
print(oct(dec))
print(hex(dec))

112
0b1110000
0o160
0x70

ASCII Value of a Character

In [ ]:
c = input()
print(ord(c))
print(chr(65))

A
65
A

Factors of a Number

In [ ]:
n = int(input())
lst = []
for i in range(1,n+1):
  if(n%i==0):
    lst.append(i)
print(lst)

15
[1, 3, 5, 15]

Display Calendar

In [ ]:
def count_substring(string, sub_string):
    count = 0
    if sub_string in string:
      count += 1
    return count
count_substring("abcdcdc","cdc")

1

In [ ]:
a = input()
print(int(a[::-1]))

1442
2441